.App {
  text-align: center;
  font-size: 13px;
}

.Container {
  margin: 15px 20px 10px;
  padding: 5px;
  width: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.Continue-Button {
  color: white;
  border: 1px solid green;
  background-color: green;
  text-align: center !important;
  height: 40px;
  line-height: 40px;
  width: 200px;
}

.Flex-Item {
  margin: 5px;
  text-align: left;
}


.Card {
  transition: 0.3s;
  border: 1px solid black;
  width: 100px;
  text-align: center;


}

@media (prefers-reduced-motion: no-preference) {
  .Temp {
    animation: Easy-Transformation infinite 10s linear;
  }
}


@keyframes Easy-Transformation {
  from {
    transform: rotate(0deg);
    color: rgb(1, 2 , 3);
  }
  to {
    transform: rotate(360deg);
    color: rgb(99, 50, 200);
  }
}
